body{
      font-family:Georgia;
}
/**mask**/
#mask{ 
   width: 400%; //|page|* 100
   height:100%;
 }
#window{ 
   width:100%;
   height:100%;
   position:absolute;
   top:0;
   left:0;
   background-color:#fff;
   overflow:hidden;
 }
/***For each page***/
section{ 
  width: 25%; // 100/|page|
  height:100%;
  background-color: #000;
}



/*utilities cross-browser compatible thanks to css3please.com */
.box_round{
  moz-border-radius: 12px;
  border-radius:12px;
  ebkit-border-radius:12px;
}

.box_textshadow{
  text-shadow:1px 1px 3px #888;
}

.box_rotate {
     -moz-transform: rotate(7.5deg);  /* FF3.5+ */
       -o-transform: rotate(7.5deg);  /* Opera 10.5 */
  -webkit-transform: rotate(7.5deg);  /* Saf3.1+, Chrome */
      -ms-transform: rotate(7.5deg);  /* IE9 */
          transform: rotate(7.5deg);  
             filter:
	     progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', /* IE6ÐIE9 */ 
                     M11=0.9914448613738104,
		     M12=-0.13052619222005157,M21=0.13052619222005157,
		     M22=0.9914448613738104);
               zoom: 1;
}

